@import "tailwindcss";


*{
    box-sizing: border-box;
    --font-roboto: "Roboto", sans-serif;
}


@keyframes gradientRotate {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-sxl: 1310px;
  --breakpoint-xl: 1440px;
  
}


.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.6 !important ;
  scale: 1;
  transition: all ease-in-out 150ms ;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  border: 1.2px white solid;
  scale: 2 !important;
  background: #d51473 !important;
}